.homepage{
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: sans-serif;
}

.hp-background {
  position: fixed;
  inset: 0;
  z-index: -1;
}


/* 主内容 */
.hp-main {
  max-width: 1820px; /* 中心区域最大宽度 */
  margin-top: 5rem;
  padding: 1rem;
}


.live-card-list-section {
  margin: 2rem 5rem 0 5rem;  /* 上 右 下 左 */
}
